/* module 5 css - the following CSS code blocks produce a pop-up modal window to display additional movie information */

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 padding-top: 100px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
 position: relative;
 background-color: #fefefe;
 margin: auto;
 padding: 0;
 border: 1px solid #888;
 width: 80%;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 animation-name: animatetop;
 animation-duration: 0.4s
}

/* The Close Button */
.close {
 color: white;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: #000;
 text-decoration: none;
 cursor: pointer;
}

.modal-header {
 padding: 2px 16px;
 background-color: #F29863;
 color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
 padding: 2px 16px;
 background-color: #F29863;
 color: white;
}

/* end module 5 css edit */

div.main_header {
	height: 100px;
	line-height: 100px;
	text-align: center;
	vertical-align: middle;
}

span.main_header {
	color: #ffffff;
	font-size: 250%;
}

.input{
	margin: 1px;
}

.button {
   border: 1px solid #402618;
   background: #a8613e;
   background: -webkit-gradient(linear, left top, left bottom, from(#f29763), to(#a8613e));
   background: -webkit-linear-gradient(top, #f29763, #a8613e);
   background: -moz-linear-gradient(top, #f29763, #a8613e);
   background: -ms-linear-gradient(top, #f29763, #a8613e);
   background: -o-linear-gradient(top, #f29763, #a8613e);
   background-image: -ms-linear-gradient(top, #f29763 0%, #a8613e 100%);
   padding: 4.5px 9px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #ba937e 0 1px 0;
   color: #6e2b06;
   font-size: 12px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #42281a;
   text-shadow: #54301d 0 1px 0;
   background: #a8613e;
   background: -webkit-gradient(linear, left top, left bottom, from(#f29763), to(#a8613e));
   background: -webkit-linear-gradient(top, #f29763, #a8613e);
   background: -moz-linear-gradient(top, #f29763, #a8613e);
   background: -ms-linear-gradient(top, #f29763, #a8613e);
   background: -o-linear-gradient(top, #f29763, #a8613e);
   background-image: -ms-linear-gradient(top, #f29763 0%, #a8613e 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #59331f 0 1px 0;
   border: 1px solid #402618;
   background: #f29763;
   background: -webkit-gradient(linear, left top, left bottom, from(#a8613e), to(#a8613e));
   background: -webkit-linear-gradient(top, #a8613e, #f29763);
   background: -moz-linear-gradient(top, #a8613e, #f29763);
   background: -ms-linear-gradient(top, #a8613e, #f29763);
   background: -o-linear-gradient(top, #a8613e, #f29763);
   background-image: -ms-linear-gradient(top, #a8613e 0%, #f29763 100%);
   color: #fff;
   }

lable{
	display: table-cell;
	text-align: left;
}

h2.stats{
	color: #ff7c0a;
	width: 225px;
	text-align: center;
}

a.eport:hover {
	color: #ff7c0a;
	font-size: 150%;
}

input.stats{
	background: -webkit-linear-gradient(#91ff14, #99e640);
	color: white;
	width: 110px;
}

textarea {
	height: 100px;
	width: 218px;
	font-size: 20px;
	color: white;
	text-align: center;
	background: -webkit-linear-gradient(#ff1493, #ffff00);
}

input {
	display: table-cell;
  width: 25%;
}
div.row{
	display: table-row;
}

span.body_text {
	font-size: 150%;
}

label {
	white-space:nowrap;
}

h2.payment {
	color: #6680ff;
}

h2.about {
	color: #ff9966;
}
h2.hob {
	color: #6680ff;
}
h2.edu {
	color: #66ffe6;
}
li.cert {
	text-decoration: underline;
}
li.high {
	font-style: italic;
}
li.coll {
	font-weight: bold;
}

a.main:hover {
	font-size: 150%;
}

table.c{
	text-align: center;
}
tr.c:nth-child(even){
	background-color: #676b70;
}
tr.c:nth-child(odd){
	background-color: #F29863;
}
th.c{
	color: white;
	background-color: #F29863;
}

table.b{
	text-align: center;
}
tr.b:nth-child(even){
	background-color: #F29863;
}
tr.b:nth-child(odd){
	background-color: #676b70;
}
th.b{
	color: white;
	background-color: #676b70;
}

table.a{
	text-align: center;
}
tr.a:nth-child(even){
	background-color: #87afc7;
}
th.a{
	background-color: #ffe87c;
}
ol.a{
	list-style-type:decimal;
}
ol.b{
	list-style-type:upper-alpha;
}

.container{
	display: inline;
	position: relative;
	padding-left: 28px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #a9a9a9;
}

.container input:checked ~ .checkmark{
	background-color: blue;
}

.checkmark:after, .radiocheck:after{
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after, .container input:checked ~ .radiocheck:after{
	display: block;
}

.container .checkmark:after{
	left: 6px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.radiocheck {
	position: absolute;
	top: 2px;
	left: 5px;
	height: 15px;
	width: 15px;
	background-color: #a9a9a9;
	border-radius: 50%;
}

.container input:checked ~ .radiocheck{
	background-color: green;
}

.container .radiocheck:after{
	top: 4px;
	left: 4px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}
